.nav-bar {
  background: #181818;
  width: 95px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 10px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 85px;
      height: auto;
    }
  }

  &.sub-logo {
    width: 50px;
  }
}
